html,
body {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: row;
}

.sideBar {
  flex: 0 0 1;
  width: 200px;
  padding: 10px;
  border-right: 1px solid #111;
  height: 100vh;
  background: #e1e1e1;
}

.sideBarItem {
  border: 1px solid #aaa;
  border-radius: 3px;
  height: 30px;
  padding: 10px;
  margin-top: 10px;
  background-image: linear-gradient(to right, #0093c3, #00b7ba, #00d381);
  color: azure;
  font-weight: bold;
}
.sideBarItem:hover {
  background-image: linear-gradient(to right, #0093c3, #051937);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.page {
  flex: 1 1 auto;
  padding: 0 20px;
  margin: 20px;
  border: 10px solid #00a2ff;
  border-radius: 20px;
}

.dropZone {
  flex: 0 0 auto;
  height: 40px;
  transition: 200ms all;
}

.dropZone:nth-of-type(2n) {
  display: none;
}

.dropZone.horizontalDrag {
  width: 40px;
  height: auto;
}

.dropZone:not(.horizontalDrag).isLast {
  flex: 1 1 auto;
}

.dropZone.active,
.trashDropZone.active {
  background: #00d381;
  color: antiquewhite;
  transition: 100ms all;
}

.component {
  height: 85px;
  text-align: center;
}
.btn {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: #051937;
  background-image: linear-gradient(to right, #0093c3, #00d381);
  font-weight: bold;
  font-size: larger;
}
.btn:hover {
  background-image: linear-gradient(to left, #0093c3, #00d381);
}
.column {
  border: 1px solid blue;
  flex: 1 1 100%;
  padding: 10px;
}

.columns {
  display: flex;
}

.columnContainer {
  display: flex;
}

.base {
  padding: 0.5rem 1rem;
  background-color: white;
  cursor: move;
}

.row {
  border: 5px solid crimson;
  padding: 10px;
  border-radius: 20px;
}

.trashDropZone {
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border: 7px solid aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size: xx-large;
  font-weight: bold;
  color: red;
}

.pageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 100px;
}
#sideBar {
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .btn {
    width: 100vw;
  }
}
#containerD {
  position: relative;
  background-color: lightpink;
  border: solid red 1px;
}

#draghandle {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}
